[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
speechrecognition = "*"
pyaudio = "*"
gtts = "*"
playsound = "*"
pyobjc = "*"

[requires]
python_version = "3.7"
